$gray: #5C5C5E;
$gray-light: #CACAD6;
$black: #070707;
$white: #F6F4F5;

%helvetica-400 {
  font-family: 'helvetica', sans-serif;
  font-weight: 400;
}

%helvetica-700 {
  font-family: 'helvetica', sans-serif;
  font-weight: 700;
}